<%- include('../includes/header.ejs', {titulo: 'Editar aluno' }) %>
    <main>
        <h2>Editar turma</h2>
        <form action="/turmas_escola/<%= turma.id_turma%>/editar" method="POST" class="form">
            <div class="form-group">
                <label for="nome">Nome da turma</label>
                <input type="text" id="nome" name="nome" value="<%=turma.nome%>" required/>
            </div>
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            <a href="/turmas_escola" class="btn btn-secondary">Cancelar</a>
        </form>
    </main>
<%- include('../includes/footer.ejs') %>