<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área Administrativa - Sistema Escolar - <%= titulo %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Sistema Escolar</h1>
        <nav>
            <a href="/admin/"><img src="https://img.icons8.com/?size=100&id=iJzm3AFQCS4W&format=png&color=000000" class="icones-header">  Home</a>
            <a href="/professores/"><img src="https://img.icons8.com/?size=100&id=NWZa7kEYkmO2&format=png&color=000000" class="icones-header"> Professores</a>
            <a href="/turmas_escola/"><img src="https://img.icons8.com/?size=100&id=XAg8ooTyo7Dl&format=png&color=000000" class="icones-header"> Turmas </a>
            <a href="/disciplinas/"><img src="https://img.icons8.com/?size=100&id=wNZ3FTgUzSQX&format=png&color=000000" class="icones-header"> Disciplinas</a>
            <a href="/alunos/"><img src="https://img.icons8.com/?size=100&id=Z56kdYEL4lef&format=png&color=000000" alt="aluno" class="icones-header"> Alunos</a>
        </nav>
        <p>Bem vindo, <%= nomeUsuario %>! <a href="/auth/logout">Sair</a></p>
    </header>

<!-- 
    aqui nao tem o fechamento das tags pois isto esta sendo feito em outro arquivo (footer.ejs). vamos ligar tudo depois com o include
-->