<body>
  <div class="boas-vindas">
    <h1>Seja bem vindo ao FinanSESI!</h1>
    <h3><i>Aprendendo programação e finanças</i></h3>
    <section class="container-card">
      <article class="card">
        <a href="./juros-simples">
          <div>
            <h2 class="titulo-card">Juros Simples</h2>
          </div>
          <figure class="imagem-card">
            <img src="./img/juros_simples.png">
          </figure>
        </a>
      </article>
      
      <article class="card">
        <a href="./juros-composto">
          <div>
            <h2 class="titulo-card">Juros Composto</h2>
          </div>
          <figure class="imagem-card">
            <img src="./img/juros_composto.png">
          </figure>
        </a>
      </article>
  </div>
</body>
