<body>
  <div class="sobre">
    <h1>Créditos</h1>
    <p>Projeto desenvolvido por Natalie Baracat Regazine França :3</p>
    <hr />
  </div>
  <div class="embaixo">
    <p>
      Este projeto foi desenvolvido com o intuito de criar um sistema para
      aprendermos programação e finanças.
    </p>
    <strong>Desenvolvido em aula em parceria do &reg;SESI/SENAI</strong>
  </div>
</body>
