@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.prompt-medium {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* .prompt-medium-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: italic;
} */

.prompt-regular {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  text-shadow: 0px 1px 2px #5f626c2c;
}

header {
  background: linear-gradient(32deg, rgba(0,113,233,1) 0%, rgba(137,201,255,1) 100%);
  color: white;
  padding: 15px;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 10px 6px 15px#5d6b9e53;
  text-shadow: 3px 3px 2px #6576b453;

}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  /* alteraçoes que fiz pra arrumar os novos icones */
  display: inline-flex;
  align-items: center;
  /**************************************************/
}

nav a span:hover {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.icones-header {
  width: 22px;
  height: 100%;
  /* margin-left: 2px; */
  margin-right: 4px;
}

/* https://stackoverflow.com/questions/54616139/how-to-animate-underline-from-left-to-right */

.un {
  display: inline-block;
  padding-bottom:2px;
  background: linear-gradient(32deg, rgba(137,201,255,1) 0%, rgba(0,113,233,1) 100%);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

.un:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

/*********************************************************************************************/

.fundo-dash {
  background: linear-gradient(32deg, rgba(0,113,233,1) 0%, rgba(137,201,255,1) 100%);
}

main {
  padding: 20px;
  margin-bottom: 70px;
}

.container-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-redondo {
  background: linear-gradient(32deg, rgba(220,53,69,1) 31%, rgba(232,96,65,1) 100%);
  color: white;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 20%;
  height: 50px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.footer-redondo p {
  font-size: 15px;
  line-height: 11px;
  margin-bottom: 0px !important;
}

h2 {
  text-align: center;
}

.card-dec {
  border-left: 5px solid #0071e9;
}

td img {
  margin: 0 4px;
}

.dados-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
}

.dados-table thead {
  background: linear-gradient(32deg, #0071e9 0%, rgba(137,201,255,1) 100%);
  color: white;
}

.dados-table th,
.dados-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

/* eu que editei isso abaixo */
.dados-table td {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* ***************** */

.dados-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dados-table td a,
.dados-table td form {
  display: inline-block;
}

/* Estilo dos botões */
.btn {
  padding: 8px 12px;
  margin-right: 5px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(32deg, rgba(0,113,233,1) 0%, rgba(137,201,255,1) 100%);
  color: white;
  border: none;
}

.btn-edit {
  background: linear-gradient(32deg, rgba(40,167,69,1) 31%, rgba(154,204,41,1) 100%);
  color: white;
}

.btn-delete {
  background: linear-gradient(32deg, rgba(220,53,69,1) 31%, rgba(232,96,65,1) 100%);
  color: white;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

.form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.form-group input:focus {
  border: linear-gradient(32deg, rgba(0,113,233,1) 0%, rgba(137,201,255,1) 100%);
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  margin-left: 10px;
  border: none;
}

.form-consulta{
  display: flex;
  gap: 1rem;
}

.form-consulta input, .form-consulta select {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

/* estilos da paginação */
.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/***************************/
