body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  text-shadow: 0px 1px 2px #5f626c2c;
}

header {
  background: linear-gradient(32deg, rgba(0,113,233,1) 0%, rgba(137,201,255,1) 100%);
  color: white;
  padding: 15px;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 10px 6px 15px#5d6b9e53;
  text-shadow: 3px 3px 2px #6576b453;

}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  /* alteraçoes que fiz pra arrumar os novos icones */
  display: inline-flex;
  align-items: center;
  /**************************************************/
}

main {
  padding: 20px;
  margin-bottom: 50px;
}

footer {
  background: linear-gradient(32deg, rgba(28,29,28,1) 0%, rgba(89,89,89,1) 100%);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h2 {
  text-align: center;
}

.dados-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
}

.dados-table thead {
  background: linear-gradient(32deg, rgba(0,113,233,1) 0%, rgba(137,201,255,1) 100%);
  color: white;
}

.dados-table th,
.dados-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.dados-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dados-table td a,
.dados-table td form {
  display: inline-block;
}

/* Estilo dos botões */
.btn {
  padding: 8px 12px;
  margin-right: 5px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(32deg, rgba(0,113,233,1) 0%, rgba(137,201,255,1) 100%);
  color: white;
  border: none;
}

.btn-edit {
  background: linear-gradient(32deg, rgba(40,167,69,1) 31%, rgba(154,204,41,1) 100%);
  color: white;
}

.btn-delete {
  background: linear-gradient(32deg, rgba(220,53,69,1) 31%, rgba(232,96,65,1) 100%);
  color: white;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

.form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.form-group input:focus {
  border: linear-gradient(32deg, rgba(0,113,233,1) 0%, rgba(137,201,255,1) 100%);
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  margin-left: 10px;
  border: none;
}

.form-consulta{
  display: flex;
  gap: 1rem;
}

.form-consulta input, .form-consulta select {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

/* estilos da paginação */
.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.icones-header {
  width: 22px;
  height: 100%;
  margin-left: 2px;
}